<div class="panel panel-default panel-body grid-panel">
    <table class="table table-responsive table-hover table-striped table-condensed">
        <thead>
            <tr class="text-center text-info">
                <td>Name</td>
                <td>Type</td>
                <td>Domain</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr>
                <td>Test Name</td>
                <td>Test Type</td>
                <td>Test Domain</td>
                <td>Test Action</td>
            </tr>
            <tr>
                <td>Test Name</td>
                <td>Test Type</td>
                <td>Test Domain</td>
                <td>Test Action</td>
            </tr>
            <tr>
                <td>Test Name</td>
                <td>Test Type</td>
                <td>Test Domain</td>
                <td>Test Action</td>
            </tr>
        </tbody>
    </table>
</div>