<div class="tenant-profile">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Tenant Profile</strong>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <h4>Jatin Kumar</h4>
                    <h6>Tenant Plateform</h6>
                    <h6>Domain</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-body panel-invi">
        <div class="row">
            <div class="col-md-3">
                <div class="box">
                    <div class="product-head">Product</div>
                    <div class="hr"></div>
                    <div class="product-details">Product Details</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <div class="product-head">Product</div>
                    <div class="hr"></div>
                    <div class="product-details">Product Details</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <div class="product-head">Product</div>
                    <div class="hr"></div>
                    <div class="product-details">Product Details</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <div class="product-head">Product</div>
                    <div class="hr"></div>
                    <div class="product-details">Product Details</div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-body panel-invi">
        <div class="row">
            <div class="col-md-3">
                <div class="box">
                    <div class="product-head">Product</div>
                    <div class="hr"></div>
                    <div class="product-details">Product Details</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <div class="product-head">Product</div>
                    <div class="hr"></div>
                    <div class="product-details">Product Details</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <div class="product-head">Product</div>
                    <div class="hr"></div>
                    <div class="product-details">Product Details</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <div class="product-head">Product</div>
                    <div class="hr"></div>
                    <div class="product-details">Product Details</div>
                </div>
            </div>
        </div>
    </div>
</div>