.side-nav>ul,
.pa-dashboard .header>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-nav a {
    border-bottom: 1px solid #0d172e;
    border-top: 1px solid #0d172e;
    color: #ffffff;
    display: block;
    font-size: 14px;
    font-weight: 500;
    padding: 14px 25px;
    text-decoration: none;
}

.side-nav .active a {
    background: #122143;
    border-left: 5px solid #5584ff;
}

.pa-dashboard .header {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.04);
    display: inline-block !important;
    line-height: 23px;
    padding: 15px;
    transition: all 0.5s ease 0s;
    width: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-content span {
    display: block;
    padding-left: 8px;
}

.navbar-content a {
    display: block;
    line-height: 14px;
    font-size: 11px;
}

.user-details {
    left: -125px;
}

.left-panel {
    background: #0e1a35;
    color: #ffffff;
    padding: 0;
}

.right-panel {
    padding: 0;
}

.dashboard-area {
    padding: 5px 20px;
    min-height: 500px;
}

.footer {
    background: #0e1a35;
    min-height: 60px;
    font-size: 12px;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
}

.pseudo-nav {
    height: 20px;
}

.logo {
    padding: 6px;
}