<div class="container-fluid display-table pa-dashboard">
    <div class="row display-table-row flex-container">
        <div class="col-md-2 display-table-cell flex-item left-panel">
            <div class="logo text-center">
                <h4>PTA</h4>
            </div>
            <div class="side-nav">
                <ul>
                    <li class="active"><a href="#"><span>Home</span></a></li>
                    <li class="active"><a href="#"><span>Home</span></a></li>
                    <li class="active"><a href="#"><span>Home</span></a></li>
                    <li class="active"><a href="#"><span>Home</span></a></li>
                    <li class="active"><a href="#"><span>Home</span></a></li>
                    <li class="active"><a href="#"><span>Home</span></a></li>
                    <li class="active"><a href="#"><span>Home</span></a></li>
                    <li class="active"><a href="#"><span>Home</span></a></li>
                    <li class="active"><a href="#"><span>Home</span></a></li>
                    <li class="active"><a href="#"><span>Home</span></a></li>
                </ul>
            </div>
            <div class="pseudo-nav"></div>
        </div>
        <div class="col-md-10 display-table-cell flex-item right-panel">
            <div class="row">
                <div class="col-md-12 header-content">
                    <div class="header">
                        <ul class="pull-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="glyphicon glyphicon-user"></i>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu user-details">
                                    <li>
                                        <div class="navbar-content">
                                            <span>Jatin Kumar</span>
                                            <div class="divider"></div>
                                            <span><a href="#">View Profile</a></span>
                                            <span><a href="#">Log Out</a></span>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="dashboard-area">
                        <div class="row">
                            <div col="col-md-12">
                                <a class="btn btn-primary pull-right">Add New</a>
                            </div>
                        </div>
                        <div class="row">
                            <div col="col-md-12">
                                <app-data-grid></app-data-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="row display-table-row">
        <div class="col-md-12 footer">&nbsp;</div>
    </div>-->
</div>