<div class="panel panel-default tenant-form">
    <div class="panel-heading">
        <strong>Add Tenant</strong>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <form method="post">
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <input type="text" class="form-control" name="name" [(ngModel)]="tenant.name" placeholder="Name" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <input type="text" class="form-control" name="category" [(ngModel)]="tenant.category" placeholder="Category" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <input type="text" class="form-control" name="domain" [(ngModel)]="tenant.domain" placeholder="Domain" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-12 col-md-12 text-right">
                            <input type="submit" class="btn btn-success" value="Process" (click)="saveTenant()" />
                            <input type="reset" class="btn btn-danger" value="Clear" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>