<div class="container">

    <div class="panel panel-default login-panel">
        <div class="panel-heading">
            <strong> Sign in to continue</strong>
        </div>
        <div class="panel-body login-form">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
													<i class="glyphicon glyphicon-user"></i>
												</span>
                            <input class="form-control" placeholder="Username" name="loginname" type="text" autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
													<i class="glyphicon glyphicon-lock"></i>
												</span>
                            <input class="form-control" placeholder="Password" name="password" type="password" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="button" class="btn btn-lg btn-primary btn-block" value="Sign in" (click)="loginAction()">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>